
.menu-selector {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    margin-left: -70px;
}

.menu-selector,
.menu-selector button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.menu-selector button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
	pointer-events: auto;
}

.menu-selector button:hover {
	background: #3071a9;
}

.menu-selector button:focus {
	outline: none;
}

.menu-selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    pointer-events: none;
}

.menu-selector li {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}

.menu-selector li input {
	display: none;
}

.menu-selector li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
    pointer-events: auto;
}

.menu-selector li input + label:hover {
	background: #A6DA7F;
}

.menu-selector li input:checked + label {
    background: #5cb85c;
    color: white;
}

.menu-selector li input:checked + label:hover {
	background: #449d44;
}

.menu-selector.open li input + label {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: -40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* For Viewer */
.menu-selector-inviewer .menu-selector {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 5;
}

.menu-selector-inviewer .menu-selector ul {
    top: -80px;
    right: -80px;
    bottom: -80px;
    left: -80px;
    pointer-events: none ;
}

.menu-selector-inviewer .menu-selector li {
    margin: 0 auto;
}

.menu-selector-inviewer .menu-selector button {
    width: 32px;
    height: 32px;
    background: transparent;
    padding: 0px;
}
